<%= turbo_frame_tag "main", class: "lg:col-span-7" do %>
  <main>
    <div class="px-4 sm:px-0">
      <div class="sm:hidden">
        <label for="question-tabs" class="sr-only">Select a tab</label>
        <select id="question-tabs" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-rose-500">
          <option selected="">Recent</option>
          <option>Most Liked</option>
          <option>Most Answers</option>
        </select>
      </div>
      <div class="hidden sm:block">
        <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
          <!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
          <a href="/pages/app" aria-current="page" class="text-gray-900 rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-6 text-center text-sm font-medium hover:bg-gray-50 focus:z-10">
            <span>Recent</span>
            <span aria-hidden="true" class="bg-rose-500 absolute inset-x-0 bottom-0 h-0.5"></span>
          </a>
          <a href="/pages/app?section=form" class="text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-6 text-center text-sm font-medium hover:bg-gray-50 focus:z-10">
            <span>Form</span>
            <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
          </a>
          <a href="/pages/app?section=sandbox" class="text-gray-500 hover:text-gray-700 rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-6 text-center text-sm font-medium hover:bg-gray-50 focus:z-10">
            <span>Sandbox</span>
            <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
          </a>
        </nav>
      </div>
    </div>
    <%= render "pages/app/#{params[:section]}" %>
  </main>
<% end %>
