<%= render "pages/shared/header" %>
<div class="mx-auto border-t pt-8 max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
  <%= render "pages/app/page_nav" %>
  <%= render "pages/app/main" %>
  <%#= render "pages/app/follow" %>
</div>
