<%= render "pages/shared/header" %>
<div class="mx-auto border-t pt-8 max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
  <%= render "pages/app/page_nav" %>
  <%= render "pages/app/main" %>
  <aside class="hidden lg:col-span-3 lg:block">
    <div class="sticky top-4 space-y-4">
      <section aria-labelledby="who-to-follow-heading">
        <div class="rounded-lg bg-white shadow">
          <div class="p-6">
            <h2 id="who-to-follow-heading" class="text-base font-medium text-gray-900">Who to follow</h2>
            <div class="mt-6 flow-root">
              <ul role="list" class="mt-6 space-y-6">
                <li class="relative flex gap-x-4">
                  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
                    <div class="w-px bg-gray-200"></div>
                  </div>
                  <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
                    <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
                  </div>
                  <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">Chelsea Hagon</span> created the invoice.</p>
                  <time datetime="2023-01-23T10:32" class="flex-none py-0.5 text-xs leading-5 text-gray-500">7d ago</time>
                </li>
                <li class="relative flex gap-x-4">
                  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
                    <div class="w-px bg-gray-200"></div>
                  </div>
                  <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
                    <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
                  </div>
                  <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">Chelsea Hagon</span> edited the invoice.</p>
                  <time datetime="2023-01-23T11:03" class="flex-none py-0.5 text-xs leading-5 text-gray-500">6d ago</time>
                </li>
                <li class="relative flex gap-x-4">
                  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
                    <div class="w-px bg-gray-200"></div>
                  </div>
                  <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
                    <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
                  </div>
                  <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">Chelsea Hagon</span> sent the invoice.</p>
                  <time datetime="2023-01-23T11:24" class="flex-none py-0.5 text-xs leading-5 text-gray-500">6d ago</time>
                </li>
                <li class="relative flex gap-x-4">
                  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
                    <div class="w-px bg-gray-200"></div>
                  </div>
                  <img src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="" class="relative mt-3 h-6 w-6 flex-none rounded-full bg-gray-50">
                  <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200">
                    <div class="flex justify-between gap-x-4">
                      <div class="py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">Chelsea Hagon</span> commented</div>
                      <time datetime="2023-01-23T15:56" class="flex-none py-0.5 text-xs leading-5 text-gray-500">3d ago</time>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">Called client, they reassured me the invoice would be paid by the 25th.</p>
                  </div>
                </li>
                <li class="relative flex gap-x-4">
                  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
                    <div class="w-px bg-gray-200"></div>
                  </div>
                  <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
                    <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
                  </div>
                  <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">Alex Curren</span> viewed the invoice.</p>
                  <time datetime="2023-01-24T09:12" class="flex-none py-0.5 text-xs leading-5 text-gray-500">2d ago</time>
                </li>
                <li class="relative flex gap-x-4">
                  <div class="absolute left-0 top-0 flex w-6 justify-center h-6">
                    <div class="w-px bg-gray-200"></div>
                  </div>
                  <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
                    <svg class="h-6 w-6 text-indigo-600" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path>
                    </svg>
                  </div>
                  <p class="flex-auto py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">Alex Curren</span> paid the invoice.</p>
                  <time datetime="2023-01-24T09:20" class="flex-none py-0.5 text-xs leading-5 text-gray-500">1d ago</time>
                </li>
              </ul>
              <form action="#" class="relative flex-auto">
                <div class="overflow-hidden rounded-lg pb-12 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600">
                  <label for="comment" class="sr-only">Add your comment</label>
                  <textarea rows="2" name="comment" id="comment" class="block w-full resize-none border-0 bg-transparent py-1.5 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Add your comment..."></textarea>
                </div>
                <div class="absolute inset-x-0 bottom-0 flex justify-between py-2 pl-3 pr-2">
                  <div class="flex items-center space-x-5">
                    <div class="flex items-center">
                      <button type="button" class="-m-2.5 flex h-10 w-10 items-center justify-center rounded-full text-gray-400 hover:text-gray-500">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Attach a file</span>
                      </button>
                    </div>
                    <div class="flex items-center">
                      <div x-data="Components.listbox({ modelName: 'selected', open: false, selectedIndex: 5, activeIndex: 5, items: [{&quot;name&quot;:&quot;Excited&quot;,&quot;value&quot;:&quot;excited&quot;,&quot;icon&quot;:&quot;<path _id=\&quot;__heroicon:mini/fire\&quot; fill-rule=\&quot;evenodd\&quot; d=\&quot;M13.5 4.938a7 7 0 11-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 01.572-2.759 6.026 6.026 0 012.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0013.5 4.938zM14 12a4 4 0 01-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 001.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 011.315-4.192.447.447 0 01.431-.16A4.001 4.001 0 0114 12z\&quot; clip-rule=\&quot;evenodd\&quot;/>&quot;,&quot;iconColor&quot;:&quot;text-white&quot;,&quot;bgColor&quot;:&quot;bg-red-500&quot;},{&quot;name&quot;:&quot;Loved&quot;,&quot;value&quot;:&quot;loved&quot;,&quot;icon&quot;:&quot;<path _id=\&quot;__heroicon:mini/heart\&quot; d=\&quot;M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z\&quot;/>&quot;,&quot;iconColor&quot;:&quot;text-white&quot;,&quot;bgColor&quot;:&quot;bg-pink-400&quot;},{&quot;name&quot;:&quot;Happy&quot;,&quot;value&quot;:&quot;happy&quot;,&quot;icon&quot;:&quot;<path _id=\&quot;__heroicon:mini/face-smile\&quot; fill-rule=\&quot;evenodd\&quot; d=\&quot;M10 18a8 8 0 100-16 8 8 0 000 16zm3.536-4.464a.75.75 0 10-1.061-1.061 3.5 3.5 0 01-4.95 0 .75.75 0 00-1.06 1.06 5 5 0 007.07 0zM9 8.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S7.448 7 8 7s1 .672 1 1.5zm3 1.5c.552 0 1-.672 1-1.5S12.552 7 12 7s-1 .672-1 1.5.448 1.5 1 1.5z\&quot; clip-rule=\&quot;evenodd\&quot;/>&quot;,&quot;iconColor&quot;:&quot;text-white&quot;,&quot;bgColor&quot;:&quot;bg-green-400&quot;},{&quot;name&quot;:&quot;Sad&quot;,&quot;value&quot;:&quot;sad&quot;,&quot;icon&quot;:&quot;<path _id=\&quot;__heroicon:mini/face-frown\&quot; fill-rule=\&quot;evenodd\&quot; d=\&quot;M10 18a8 8 0 100-16 8 8 0 000 16zm-3.536-3.475a.75.75 0 001.061 0 3.5 3.5 0 014.95 0 .75.75 0 101.06-1.06 5 5 0 00-7.07 0 .75.75 0 000 1.06zM9 8.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S7.448 7 8 7s1 .672 1 1.5zm3 1.5c.552 0 1-.672 1-1.5S12.552 7 12 7s-1 .672-1 1.5.448 1.5 1 1.5z\&quot; clip-rule=\&quot;evenodd\&quot;/>&quot;,&quot;iconColor&quot;:&quot;text-white&quot;,&quot;bgColor&quot;:&quot;bg-yellow-400&quot;},{&quot;name&quot;:&quot;Thumbsy&quot;,&quot;value&quot;:&quot;thumbsy&quot;,&quot;icon&quot;:&quot;<path _id=\&quot;__heroicon:mini/hand-thumb-up\&quot; d=\&quot;M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z\&quot;/>&quot;,&quot;iconColor&quot;:&quot;text-white&quot;,&quot;bgColor&quot;:&quot;bg-blue-500&quot;},{&quot;name&quot;:&quot;I feel nothing&quot;,&quot;value&quot;:null,&quot;icon&quot;:&quot;<path _id=\&quot;__heroicon:mini/x-mark\&quot; d=\&quot;M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z\&quot;/>&quot;,&quot;iconColor&quot;:&quot;text-gray-400&quot;,&quot;bgColor&quot;:&quot;bg-transparent&quot;}] })" x-init="init()">
                        <label id="listbox-label" class="sr-only" @click="$refs.button.focus()">Your mood</label>
                        <div class="relative">
                          <button type="button" class="relative -m-2.5 flex h-10 w-10 items-center justify-center rounded-full text-gray-400 hover:text-gray-500" x-ref="button" @keydown.arrow-up.stop.prevent="onButtonClick()" @keydown.arrow-down.stop.prevent="onButtonClick()" @click="onButtonClick()" aria-haspopup="listbox" :aria-expanded="open" aria-labelledby="listbox-label">
                            <span class="flex items-center justify-center">
                              <span x-show="selected.value === null" x-description="Placeholder label, show/hide based on listbox state.">
                                <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.536-4.464a.75.75 0 10-1.061-1.061 3.5 3.5 0 01-4.95 0 .75.75 0 00-1.06 1.06 5 5 0 007.07 0zM9 8.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S7.448 7 8 7s1 .672 1 1.5zm3 1.5c.552 0 1-.672 1-1.5S12.552 7 12 7s-1 .672-1 1.5.448 1.5 1 1.5z" clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Add your mood</span>
                              </span>
                              <span x-show="!(selected.value === null)" x-description="Selected item label, show/hide based on listbox state." style="display: none;">
                                <span :class="selected.bgColor" class="flex h-8 w-8 items-center justify-center rounded-full bg-transparent">
                                  <svg class="h-5 w-5 flex-shrink-0 text-white" x-html="selected.icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path _id="__heroicon:mini/x-mark" d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path></svg>
                                </span>
                                <span x-text="selected.name" class="sr-only">I feel nothing</span>
                              </span>
                            </span>
                          </button>
                          <ul x-show="open" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="absolute z-10 -ml-6 mt-1 w-60 rounded-lg bg-white py-3 text-base shadow ring-1 ring-black ring-opacity-5 focus:outline-none sm:ml-auto sm:w-64 sm:text-sm" @click.away="open = false" x-description="Select popover, show/hide based on select state." @keydown.enter.stop.prevent="onOptionSelect()" @keydown.space.stop.prevent="onOptionSelect()" @keydown.escape="onEscape()" @keydown.arrow-up.prevent="onArrowUp()" @keydown.arrow-down.prevent="onArrowDown()" x-ref="listbox" tabindex="-1" role="listbox" aria-labelledby="listbox-label" :aria-activedescendant="activeDescendant" style="display: none;">
                            <li x-state:on="Highlighted" x-state:off="Not Highlighted" class="bg-white relative cursor-default select-none px-3 py-2" x-description="Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation." id="listbox-option-0" role="option" @click="choose(0)" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 0)" @mouseleave="onMouseLeave($event)" :class="{ 'bg-gray-100': activeIndex === 0, 'bg-white': !(activeIndex === 0) }">
                              <div class="flex items-center">
                                <div class="bg-red-500 flex h-8 w-8 items-center justify-center rounded-full">
                                  <svg class="text-white h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M13.5 4.938a7 7 0 11-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 01.572-2.759 6.026 6.026 0 012.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0013.5 4.938zM14 12a4 4 0 01-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 001.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 011.315-4.192.447.447 0 01.431-.16A4.001 4.001 0 0114 12z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <span x-state:on="Selected" x-state:off="Not Selected" class="ml-3 block truncate font-medium">Excited</span>
                              </div>
                            </li>
                            <li x-state:on="Highlighted" x-state:off="Not Highlighted" class="bg-white relative cursor-default select-none px-3 py-2" x-description="Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation." id="listbox-option-1" role="option" @click="choose(1)" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 1)" @mouseleave="onMouseLeave($event)" :class="{ 'bg-gray-100': activeIndex === 1, 'bg-white': !(activeIndex === 1) }">
                              <div class="flex items-center">
                                <div class="bg-pink-400 flex h-8 w-8 items-center justify-center rounded-full">
                                  <svg class="text-white h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z"></path>
                                  </svg>
                                </div>
                                <span x-state:on="Selected" x-state:off="Not Selected" class="ml-3 block truncate font-medium">Loved</span>
                              </div>
                            </li>
                            <li x-state:on="Highlighted" x-state:off="Not Highlighted" class="bg-white relative cursor-default select-none px-3 py-2" x-description="Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation." id="listbox-option-2" role="option" @click="choose(2)" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 2)" @mouseleave="onMouseLeave($event)" :class="{ 'bg-gray-100': activeIndex === 2, 'bg-white': !(activeIndex === 2) }">
                              <div class="flex items-center">
                                <div class="bg-green-400 flex h-8 w-8 items-center justify-center rounded-full">
                                  <svg class="text-white h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.536-4.464a.75.75 0 10-1.061-1.061 3.5 3.5 0 01-4.95 0 .75.75 0 00-1.06 1.06 5 5 0 007.07 0zM9 8.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S7.448 7 8 7s1 .672 1 1.5zm3 1.5c.552 0 1-.672 1-1.5S12.552 7 12 7s-1 .672-1 1.5.448 1.5 1 1.5z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <span x-state:on="Selected" x-state:off="Not Selected" class="ml-3 block truncate font-medium">Happy</span>
                              </div>
                            </li>
                            <li x-state:on="Highlighted" x-state:off="Not Highlighted" class="bg-white relative cursor-default select-none px-3 py-2" x-description="Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation." id="listbox-option-3" role="option" @click="choose(3)" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 3)" @mouseleave="onMouseLeave($event)" :class="{ 'bg-gray-100': activeIndex === 3, 'bg-white': !(activeIndex === 3) }">
                              <div class="flex items-center">
                                <div class="bg-yellow-400 flex h-8 w-8 items-center justify-center rounded-full">
                                  <svg class="text-white h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-3.536-3.475a.75.75 0 001.061 0 3.5 3.5 0 014.95 0 .75.75 0 101.06-1.06 5 5 0 00-7.07 0 .75.75 0 000 1.06zM9 8.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S7.448 7 8 7s1 .672 1 1.5zm3 1.5c.552 0 1-.672 1-1.5S12.552 7 12 7s-1 .672-1 1.5.448 1.5 1 1.5z" clip-rule="evenodd"></path>
                                  </svg>
                                </div>
                                <span x-state:on="Selected" x-state:off="Not Selected" class="ml-3 block truncate font-medium">Sad</span>
                              </div>
                            </li>
                            <li x-state:on="Highlighted" x-state:off="Not Highlighted" class="bg-white relative cursor-default select-none px-3 py-2" x-description="Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation." id="listbox-option-4" role="option" @click="choose(4)" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 4)" @mouseleave="onMouseLeave($event)" :class="{ 'bg-gray-100': activeIndex === 4, 'bg-white': !(activeIndex === 4) }">
                              <div class="flex items-center">
                                <div class="bg-blue-500 flex h-8 w-8 items-center justify-center rounded-full">
                                  <svg class="text-white h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z"></path>
                                  </svg>
                                </div>
                                <span x-state:on="Selected" x-state:off="Not Selected" class="ml-3 block truncate font-medium">Thumbsy</span>
                              </div>
                            </li>
                            <li x-state:on="Highlighted" x-state:off="Not Highlighted" class="relative cursor-default select-none px-3 py-2 bg-gray-100" x-description="Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation." id="listbox-option-5" role="option" @click="choose(5)" @mouseenter="onMouseEnter($event)" @mousemove="onMouseMove($event, 5)" @mouseleave="onMouseLeave($event)" :class="{ 'bg-gray-100': activeIndex === 5, 'bg-white': !(activeIndex === 5) }">
                              <div class="flex items-center">
                                <div class="bg-transparent flex h-8 w-8 items-center justify-center rounded-full">
                                  <svg class="text-gray-400 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                                  </svg>
                                </div>
                                <span x-state:on="Selected" x-state:off="Not Selected" class="ml-3 block truncate font-medium">I feel nothing</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Comment</button>
                </div>
              </form>
            </div>
            <div class="mt-6">
              <a href="#" class="block w-full rounded-md bg-white px-3 py-2 text-center text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">View all</a>
            </div>
          </div>
        </div>
      </section>
      <section aria-labelledby="trending-heading">
        <div class="rounded-lg bg-white shadow">
          <div class="p-6">
            <h2 id="trending-heading" class="text-base font-medium text-gray-900">Trending</h2>
            <div class="mt-6 flow-root">
              <ul role="list" class="-my-4 divide-y divide-gray-200">
                <li class="flex space-x-3 py-4">
                  <div class="flex-shrink-0">
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="Floyd Miles">
                  </div>
                  <div class="min-w-0 flex-1">
                    <p class="text-sm text-gray-800">What books do you have on your bookshelf just to look smarter than you actually are?</p>
                    <div class="mt-2 flex">
                      <span class="inline-flex items-center text-sm">
                        <button type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                          </svg>
                          <span class="font-medium text-gray-900">291</span>
                        </button>
                      </span>
                    </div>
                  </div>
                </li>
                <!-- More posts... -->
              </ul>
            </div>
            <div class="mt-6">
              <a href="#" class="block w-full rounded-md bg-white px-3 py-2 text-center text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">View all</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </aside>
</div>
