<section class="container flex flex-col gap-4 pb-12 pt-4 lg:items-center lg:gap-8 lg:py-12">
  <div class="flex flex-1 flex-col items-center gap-4 lg:gap-8">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold lg:text-6xl">Avi's Rails Starter</h1>
      <h2 class="text-lg font-light text-muted-foreground lg:text-3xl">Easy to use. Great defaults. Beautiful.</h2>
    </div>
  </div>
  <form action="#" class="mt-12 sm:flex sm:w-full sm:max-w-lg">
    <div class="min-w-0 flex-1">
      <label for="hero-email" class="sr-only">Email address</label>
      <input id="hero-email" type="email" class="block w-full rounded-md border border-gray-300 px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:border-pink-500 focus:ring-pink-500" placeholder="Enter your email">
    </div>
    <div class="mt-4 sm:ml-3 sm:mt-0">
      <button type="submit" class="block w-full rounded-md border border-transparent bg-pink-500 px-5 py-3 text-base font-medium text-white shadow hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2 sm:px-10">Notify me</button>
    </div>
  </form>
</section>
