<div class="bg-white py-16 dark:bg-background lg:py-20">
  <div class="relative bg-white dark:bg-background">
    <div class="max-w-7xl overflow-hidden px-6 lg:px-8 xl:mx-auto xl:border-l-2 xl:border-pink-200 xl:pb-8 xl:pt-8 xl:dark:border-pink-700">
      <div class="mx-auto grid max-w-3xl grid-cols-1 items-center gap-x-8 sm:gap-y-20 lg:ml-0 lg:mr-auto lg:max-w-6xl lg:grid-cols-2 lg:gap-16 xl:ml-auto xl:gap-12">
        <div class="mb-8 sm:mb-2 md:mb-0 xl:pl-4">
          <div>
            <div class=" opacity-100"><span class="inline-block text-lg font-semibold leading-relaxed tracking-wide text-neutral-400 dark:font-bold dark:text-neutral-500 [&_em]:not-italic">
                <p><strong>Say Goodbye Colors and Meaningless Tags</strong><br>
                </p>
              </span></div>
            <span class="mt-2.5 inline-block  text-2xl font-extrabold text-neutral-900 opacity-100 dark:tracking-wide dark:text-neutral-50 md:text-3xl lg:text-2xl [&_em>strong]:bg-neutral-300/60 [&_em>strong]:px-1.5 [&_em>strong]:py-1 [&_em>strong]:leading-10 [&_em>strong]:text-neutral-900 dark:[&_em>strong]:bg-neutral-100/10 dark:[&_em>strong]:text-neutral-50/100 [&_em]:not-italic dark:[&_strong]:text-neutral-50/90">
              <h2 id="securely-saved-deeply-enriched"><strong>Infinite Potential</strong><em><strong>AI Generated.</strong></em></h2>
            </span><span class="mt-4 inline-block  text-lg font-medium text-neutral-800 opacity-100 dark:text-neutral-200 lg:mt-3">
              <p>Tagging your music is key to being able to find and pair tracks. But taking the time to create your taxonomy and using the limited options and fields of most music managers sucks. We let you come up with whatever tagging structure you want and use AI to pretag your entire collection. The more you use it, the smarter it gets.</p>
            </span></div>
        </div>
        <div class="my-auto ml-[-60%] flex w-[150%] max-w-[57rem] justify-start sm:ml-[-50%] md:ml-[-35%] lg:order-first lg:ml-[-65%] lg:w-[170%] xl:ml-[-50%] xl:mt-auto xl:w-[150%]">
          <div class="h-full w-full">
            <div class="duration-800 aspect-video border-neutral-200 transition-colors dark:border-neutral-700 sm:rounded-3xl md:border-2 md:p-6 lg:p-8"><img src="https://images.unsplash.com/photo-1496843916299-590492c751f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" alt="Global Search Pieces for Developers" loading="lazy" data-nuxt-img="" class="h-auto w-full rounded-xl opacity-0 opacity-100 shadow-2xl transition-all duration-500 delay-300 sm:rounded-3xl" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
