<div class="relative bg-white dark:bg-background lg:py-10">
  <div class="mx-auto grid grid-cols-1 items-center justify-center overflow-hidden px-6 md:max-w-5xl lg:grid-cols-3 lg:gap-16 lg:px-8 xl:mx-auto xl:max-w-6xl xl:border-neutral-200 xl:pb-8 xl:pt-8 xl:dark:border-neutral-700">
    <div class=" h-full w-full items-center justify-center rounded-2xl border opacity-100 lg:order-last lg:justify-end"><span class="flex justify-center text-[12em]">😎</span></div>
    <div class="col-span-2 mt-8 flex items-center justify-center text-center md:mt-10 lg:order-first lg:mt-0 lg:justify-start lg:text-start">
      <div class="mb-2 max-w-4xl md:mb-0 lg:max-w-2xl">
        <div class="text-lg opacity-100"><span class="inline-block text-base font-semibold leading-relaxed tracking-wide text-neutral-400 dark:font-bold dark:text-neutral-500 md:text-lg [&_em]:not-italic">
            <p><a href="/" target="_self"><strong>Start Today. How You Listen Matter. 🙂</strong></a><br>
            </p>
          </span></div>
        <span class="mt-2 inline-block text-2xl font-extrabold leading-8 text-neutral-900 opacity-100 dark:tracking-wide dark:text-neutral-50 md:text-3xl lg:text-2xl [&_em>strong]:bg-neutral-300/60 [&_em>strong]:px-1.5 [&_em>strong]:py-1 [&_em>strong]:leading-10 [&_em>strong]:text-neutral-900 dark:[&_em>strong]:bg-neutral-100/10 dark:[&_em>strong]:text-neutral-50/100 [&_em]:not-italic dark:[&_strong]:text-neutral-50/90">
          <h2 id="take-back-your-time-starting-small"><strong>Take Back Your Music</strong></h2>
        </span><span class="mt-4 inline-block text-lg font-medium text-neutral-800 opacity-100 dark:text-neutral-200 lg:mt-3">
          <p>Having your own music collection of meticulously curated files separates the true connoisseurs from the mere button-pushers. Streaming platforms may provide a convenient pool of tracks, but at the cost of a carefully curated collection offers. Managin your library allows you to unearth hidden gems and obscure tracks that can set you apart and elevate your performances.</p>
        </span>
        <div class="mt-4 flex flex-wrap justify-center gap-x-6 lg:justify-start">
          <div class="flex items-center justify-center gap-x-4 md:gap-x-6">
            <div class="opacity-100"><a class="shadow-0 focus-visible:none text-md mr-2 inline-flex items-center gap-x-1 rounded-lg rounded-lg bg-neutral-900 bg-neutral-900 px-3.5 py-1.5 text-xs font-semibold font-semibold leading-6 tracking-wide tracking-wider text-white text-white shadow-sm transition-all transition-shadow duration-75 duration-75 ease-linear hover:scale-105 hover:shadow-2xl hover:shadow-xl focus:scale-105 focus:outline-none focus:outline-none dark:bg-white dark:bg-white dark:font-bold dark:font-bold dark:text-gray-900 dark:text-neutral-900 sm:text-sm" href="https://docs.pieces.app/installation-getting-started/macos" target="_blank"><span class="inline-flex">♮</span>Try Music Base</a></div>
            <a target="_blank" class="py-5 text-xs font-bold leading-6 text-neutral-400 opacity-100 outline-none transition-all duration-100 ease-in-out hover:text-gray-900 focus:outline-none dark:font-semibold dark:text-neutral-400 dark:hover:text-neutral-50 sm:text-sm" href="#">Learn more &nbsp;➞</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
